modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 180000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 18774
externalPort = 3001

[[ports]]
localPort = 24624
externalPort = 3000

[nix]
channel = "stable-25_05"

[objectStorage]
defaultBucketID = "replit-objstore-55b7da39-8b7b-465e-a80e-6fbe1afa8120"

[userenv]

[userenv.shared]

[userenv.development]
GOOGLE_DRIVE_APP_ID = "820410890915"
GOOGLE_DRIVE_CLIENT_ID = "820410890915-f4d8glrr68f2kmf8bq4lb1lim3ftdnef.apps.googleusercontent.com"

[userenv.production]
GOOGLE_DRIVE_APP_ID = "820410890915"
GOOGLE_DRIVE_CLIENT_ID = "820410890915-f4d8glrr68f2kmf8bq4lb1lim3ftdnef.apps.googleusercontent.com"
